/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .containercrl {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .cardcrl {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .cardcrl-header {
    background: linear-gradient(90deg, #000000, #ff7f00);
    color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .cardcrl-body {
    padding: 20px;
  }
  
  .cardcrl-body p {
    margin: 10px 0;
  }
  
  .cardcrl-footer {
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .cardcrl-footer .button-groupcrl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
 
  .btn-warningcrl {
    background-color: #ff7f00;
    color: #fff;
  }
  
  .btn-dangercrl {
    background-color: #f44336;
    color: #fff;
  }
  
  .btn-successcrl {
    background-color: #9e9e9e;
    color: #fff;
  }
  
  .btn-secondarycrl {
    background-color: rgb(70, 70, 255);
    color: #fff;
  }

  .btn-successcr {
    background-color: rgb(4, 167, 1);
    color: #fff;
  }
  
  .form-controlcrl {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .cardcrl-header h2 {
      font-size: 20px;
    }
  
  }
  