/* Import Google Fonts for better typography */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

/* Sidebar Styling */
.sidebar {
  /* background-color: #343a40; */
  background: linear-gradient(180deg, #000000, #343a40);

  color: white;
  width: 250px;
}

.navv-bar {
  /* background-color: #343a40; */
  background: linear-gradient(180deg, #000000, #343a40);

  color: white;
}



.sidebar .nav-link {
  color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.sidebar .nav-link:hover {
  background-color: #495057;
  text-decoration: none;
  color: white;
}

.navv-bar .nav-link:hover {
  text-decoration: underline;
  color: white;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.text-orange {
  color: orange;
}

.min-vh-100 {
  min-height: 100vh;
}

.logo {
  height: 40px;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .logo {
    height: 30px;
  }

  .header {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }

  .header .btn {
    border: none;
    background: none;
    color: #343a40;
  }

  .header .btn:focus {
    box-shadow: none;
  }

  .nav {
    padding: 5px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    display: block;
    padding: 10px;
  }

  .nav-link i {
    margin-right: 5px;
  }

  .nav-pills .nav-link {
    margin-bottom: 0;
  }
}

@media (min-width: 769px) {
  .header {
    display: none;
  }
}

/* Main Content Styling */
.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.p-2 {
  padding: 1rem;
}

.btn {
  border: none;
  outline: none;
}

.btn:focus {
  box-shadow: none;
}
