nav {
    height: 10%;
    background: #ffffff;
    width: 100%;
    position: fixed;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
  }
  
  nav li {
    padding: 0 30px;
  }
  
  nav li a{
    text-decoration: none;
    color: black;
  }
  
  nav ul li a:hover {
    color: orange;
    text-decoration: underline;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  #logo-img {
    display: flex;
    height: 100%;
    background: #ffffff;
    align-items: center;
    color: white;
  }
  
  #logo-img img {
    height: 100%;
    padding: 8px 14px;
  }

  .loginPage {
    background: url(../Images/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.loginForm {
    margin-top: 16%;
    background-color: rgba(59, 59, 59, 0.6);
    color: white;
}

.center-align {
    text-align: center;
  }
  