/* TaskE.css */
.containertse {
  width: 80%; /* Reduced width */
    margin: 50px auto;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.headingtse {
  background: linear-gradient(90deg, #000000, #ff7f00);
    color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabletse-responsive {
  overflow-x: auto;
}

.task-table {
  width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}  

.task-table th,
.task-table td {
  border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.task-table th {
  background-color: #f9f9f9;
}  

.status-button {
  padding: 4px 8px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.status-button:hover {
  background-color: #ff7f00;
  color: white;
}

@media (max-width: 768px) {
  .containertse {
    width: 90%;
  }

  .task-table th, 
  .task-table td {
      padding: 5px;
  }

  .status-button {
      padding: 4px 8px;
      font-size: 0.9em;
  }
}

@media (max-width: 576px) {
  .status-button {
      padding: 3px 6px;
      font-size: 0.8em;
  }
}
