/* ViewReimbE.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
    
  .tablevre-container {
    /* overflow-x: auto; Add horizontal scrolling */
    width: 90%;
  border-collapse: collapse;
  /* border: 2px solid #ddd; */
  margin-left: auto;
  margin-right: auto;
  }
  
  .tablevre {
    font-size: 0.875rem;
    width: 100%;
    border-collapse: collapse;
    /* min-width: 600px;  */
  }
  
  .tablevre th, .tablevre td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .tablevre th {
    background-color: #ff7f00;
    color: white;
    padding: 10px;
  }
  
  .tablevre td {
    padding: 8px;
  }
  
  .btnvre {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btnvre-danger {
    background-color: black;
    color: white;
  }
  
  .btnvre-danger:hover {
    background-color: #ff7f00;
  }
  
  .error {
    color: red;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .card-body {
      padding: 15px;
    }
  
    .tablevre th, .tablevre td {
      padding: 10px;
    }
  
    .btnvre-danger {
      padding: 3px 8px;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 576px) {
    .card-header h2 {
      font-size: 1.5em;
    }
  
    .tablevre th, .tablevre td {
      padding: 8px;
    }
  
    .btnvre-danger {
      padding: 2px 6px;
      font-size: 0.8rem;
    }
  }
  